$accent-color: #3F51B5;
$background-color: #fcf5e4;
$wrapper-color: white;

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 140%;
    font-size: 16pt;
    background-color: #fcf5e4;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    overflow-x:hidden;
}

header{
    height: 200px;
    background-color: $accent-color;
    position: relative;
    border-bottom: 1px solid darken($accent-color, 10%);

    .logo{
        text-indent: -9999px;
        height: 220px;
        width: 550px;
        background: url("../images/nellielogo.png") no-repeat;
        
        a{
            display: block;
            position: absolute;
            top: 0;
            height: 200px;
            width: 550px;
        }
    }

    nav{
        position: absolute!important;
        bottom: 0;
        margin-bottom: 25px;
        height: 100px;
        width: 100%;

        ul{
            display: flex;
            justify-content: space-around;
            margin-left: auto;

            li{
                text-indent: -9999px;
                position: relative;

                a{
                    // position: absolute;
                    display: block;
                    height: 100px;
                    width: calc(700px/4);
                }

                a:hover{
                    background-color: rgba(128, 128, 128, 0.39);
                    border-radius: 1%;
                }
                
            }

            .current{
                background-color: rgba(255, 255, 255, 0.288);
                border-radius: 1%;
            }

            .about{
                background: url("../images/about.png")no-repeat;
            }

            .portfolio{
                background: url("../images/portfolio.png") no-repeat;
            }

            .contact{
                background: url("../images/contact.png") no-repeat;
            }
        }
    }
}

img{
    border-radius: 50%;
    border: 20px solid transparent;
    float: left;
    shape-outside: circle(50%);
}
.project{
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow:hidden;

        margin: calc(calc(1100px - 2*74px - 250px*3)/6);

        img{
            width: 250px;
            border: none;
        }
        div{
            position: absolute;
            bottom: 50px;
            width: 100%;
            background-color: rgba(63, 81, 181, 0.801);
            color: white;
            font-weight: bolder;
            text-align: center;
            font-size: 25pt;
            padding: 5px;
        }
}

.container-outer{
    background-color: white;
    // width: 80%;
    max-width: 1200px;
    margin: 3% auto 0 auto;
    padding: 5% 5% 100px 5%;
    background-color: $wrapper-color;
    overflow: auto;
    border-radius: 1%;
    border: 1px solid lightgray;

    min-height: calc(100vh - 100px);

}

h2, legend{
    font-weight: bold;
    font-size: 30pt;
    color: $accent-color;
    padding-bottom: 2%;
}

form{

    input[type=text], textarea{
        width: 100%;
        margin: 8px 0;
    }

    button{
        background-color: $accent-color;
        color: white;
        font-size: xx-large;
        border: none;
        padding: 10px;
        margin: 10px 0;
    }

}

footer{
    height: 100px;
    width: 100%;
    background-color: $background-color;
    border-top: 10px solid $accent-color;
    text-align: center;
    margin-top: -10px;
}

@media (max-width: 900px){

    .container-outer{
        border: none;
        margin: 0;
    }

    h2{
        text-align: center;
    }

        .portrait {

            text-align: center;
            img{
                float: none;
            }
        }
        nav::before{
            content: url("../images/nellielogo.png");
            width: 275px;
            overflow: hidden;
            position: relative;
            top: -90px;
        }

        .logo{
            display: none;
        }
    

    .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        background-color: white;
        position: absolute;
        top: 5%;
        right: 10%;
    }
    .navbar-toggler-icon {
        background-image: url("../images/hamburger.svg");
    }

    .show{
        background-color: $accent-color;
        position: absolute;
        width: 105%;
        top: 125px;
        z-index: 2;
        margin: -20px;
    }

    .nav-item{
        background-position: center!important;
    }

    .nav-link{
        width: 100%;
    }

    input[type=text], textarea{
        border: 2px solid lightgrey;
    }

}
